<div class="container">
  <mat-toolbar>
    <span>Reportes</span>
  </mat-toolbar>
</div>
<br />
<div class="contacto">
  <form [formGroup]="contactForm" (ngSubmit)="enviar()">
    <div class="imagen">
      <img
        src="https://raw.githubusercontent.com/Manuel486/Store_Mega/main/images/logo.png"
        width="30%"
      />
    </div>
    <h2>Contactanos!</h2>

    <mat-form-field class="ancho" appearance="fill">
      <mat-label>Usuario</mat-label>
      <input type="text" matInput formControlName="usuario" />
      <mat-error *ngIf="contactForm.get('usuario')!.hasError('required')"
        >Campo requerido</mat-error
      >
      <mat-error *ngIf="contactForm.get('usuario')!.hasError('minlength')"
        >Minimo 4 caracteres</mat-error
      >
    </mat-form-field>
    <mat-form-field class="ancho" appearance="fill">
      <mat-label>E-mail</mat-label>
      <input type="email" matInput formControlName="correo" />
      <mat-error
        *ngIf="contactForm.get('correo')!.hasError('required')"
      ></mat-error>
      <mat-error *ngIf="contactForm.get('correo')!.hasError('pattern')"
        >Formato invalido</mat-error
      >
    </mat-form-field>
    <mat-form-field class="ancho" appearance="fill">
      <mat-label>Mensaje</mat-label>
      <input type="text" matInput formControlName="mensaje" />
      <mat-error
        *ngIf="contactForm.get('mensaje')!.hasError('required')"
      ></mat-error>
      <mat-error *ngIf="contactForm.get('mensaje')!.hasError('maxlength')"
        >Maximo 500 caracteres</mat-error
      >
    </mat-form-field>
    <br />
    <button
      type="submit"
      mat-raised-button
      [disabled]="contactForm.invalid"
      class="ancho"
      style="background-color: #ff9138; color: #fff"
    >
      enviar
    </button>
  </form>
</div>
